<a href="https://colab.research.google.com/github/pragatheesha/capstone_project/blob/main/analaysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load dataset

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("/content/cleaned_customer_churn.csv")
df

,customerid,tenure,monthlycharges,totalcharges,contract,paymentmethod,paperlessbilling,seniorcitizen,churn
0,C00001,6,64,1540,One year,Credit Card,No,Yes,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,Yes,0
2,C00003,27,31,1455,Two year,Credit Card,No,Yes,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,Yes,0
4,C00005,16,185,1023,One year,Electronic Check,No,Yes,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,Yes,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,Yes,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,No,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,Yes,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,Yes,0

In [2]:
# descriptive analysis

df.groupby("churn")[["monthlycharges","tenure"]].mean()

       monthlycharges     tenure
churn
0          111.722595  40.152125
1          129.773585   6.000000

In [6]:
df.groupby("churn")["monthlycharges"].mean()

churn
0    111.722595
1    129.773585
Name: monthlycharges, dtype: float64

In [7]:
df.groupby("churn")["tenure"].mean()

churn
0    40.152125
1     6.000000
Name: tenure, dtype: float64

In [3]:
# Hypothesis Testing

# Monthly Charges vs Churn (t-test)

from scipy.stats import ttest_ind

churn_yes = df[df["churn"]=="Yes"]["monthlycharges"]
churn_no = df[df["churn"]=="No"]["monthlycharges"]

t_stat, p_value = ttest_ind(churn_yes, churn_no, equal_var=False)
p_value

/usr/local/lib/python3.12/dist-packages/scipy/_lib/deprecation.py:234: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  return f(*args, **kwargs)

np.float64(nan)

In [8]:
# Tenure vs Churn (t-test)

tenure_yes = df[df["churn"] == "Yes"]["tenure"]
tenure_no = df[df["churn"] == "No"]["tenure"]

t_stat, p_value = ttest_ind(tenure_yes, tenure_no)
p_value

/usr/local/lib/python3.12/dist-packages/scipy/_lib/deprecation.py:234: SmallSampleWarning: One or more sample arguments is too small; all returned values will be NaN. See documentation for sample size requirements.
  return f(*args, **kwargs)

np.float64(nan)

In [4]:
# Contract Type vs Churn (Chi-Square)

from scipy.stats import chi2_contingency

contingency = pd.crosstab(df["contract"], df["churn"])
chi2, p, _, _ = chi2_contingency(contingency)
p

np.float64(9.587354270923881e-07)

In [9]:
# Payment Method vs Churn

contingency = pd.crosstab(df["paymentmethod"], df["churn"])
chi2, p, dof, expected = chi2_contingency(contingency)
p

np.float64(0.1444587720334851)

In [10]:
# Correlation Analysis

df[["tenure", "monthlycharges", "totalcharges"]].corr()

                  tenure  monthlycharges  totalcharges
tenure          1.000000       -0.059655     -0.005677
monthlycharges -0.059655        1.000000     -0.042280
totalcharges   -0.005677       -0.042280      1.000000

In [5]:
# Customer risk segmentation

df["risk_group"] = "Low Risk"
df.loc[
    (df["tenure"] < 12) & (df["monthlycharges"] > 70),
    "risk_group"
] = "High Risk"

df["risk_group"].value_counts()

risk_group
Low Risk     437
High Risk     63
Name: count, dtype: int64