<a href="https://colab.research.google.com/github/pragatheesha/capstone_project/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Load dataset

import pandas as pd
import numpy as np

df=pd.read_csv("/content/customer_churn.csv")
df

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,1,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,1,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,0,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,1,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,1,0

In [ ]:
df.head()

,CustomerID,Tenure,MonthlyCharges,TotalCharges,Contract,PaymentMethod,PaperlessBilling,SeniorCitizen,Churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0

In [ ]:
df.describe()

           Tenure  MonthlyCharges  TotalCharges  SeniorCitizen       Churn
count  500.000000      500.000000    500.000000     500.000000  500.000000
mean    36.532000      113.636000   4237.882000       0.498000    0.106000
std     20.667057       51.799903   2260.619837       0.500497    0.308146
min      1.000000       20.000000    159.000000       0.000000    0.000000
25%     19.000000       67.000000   2237.250000       0.000000    0.000000
50%     37.000000      115.000000   4182.500000       0.000000    0.000000
75%     54.000000      158.000000   6266.750000       1.000000    0.000000
max     71.000000      199.000000   7992.000000       1.000000    1.000000

In [ ]:
# inspect Structure

df.shape

(500, 9)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CustomerID        500 non-null    object
 1   Tenure            500 non-null    int64
 2   MonthlyCharges    500 non-null    int64
 3   TotalCharges      500 non-null    int64
 4   Contract          500 non-null    object
 5   PaymentMethod     500 non-null    object
 6   PaperlessBilling  500 non-null    object
 7   SeniorCitizen     500 non-null    int64
 8   Churn             500 non-null    int64
dtypes: int64(5), object(4)
memory usage: 35.3+ KB

In [ ]:
# standardize column names

df.columns=df.columns.str.strip().str.lower().str.replace(' ','_')
df

,customerid,tenure,monthlycharges,totalcharges,contract,paymentmethod,paperlessbilling,seniorcitizen,churn
0,C00001,6,64,1540,One year,Credit Card,No,1,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,1,0
2,C00003,27,31,1455,Two year,Credit Card,No,1,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,1,0
4,C00005,16,185,1023,One year,Electronic Check,No,1,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,1,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,1,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,0,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,1,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,1,0

In [ ]:
# fix data types

df.totalcharges=pd.to_numeric(df.totalcharges,errors='coerce')
df.totalcharges

0      1540
1      1753
2      1455
3      7150
4      1023
       ...
495    6970
496    5917
497    2158
498    5755
499    4292
Name: totalcharges, Length: 500, dtype: int64

In [ ]:
# Handle missing value
# numerical columns - median

num_cols = df.select_dtypes(include=["int64", "float64"]).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())

In [ ]:
# Categorical columns - mode

cat_cols = df.select_dtypes(include=["object"]).columns
df[cat_cols] = df[cat_cols].fillna(df[cat_cols].mode().iloc[0])

In [ ]:
# Remove duplicates

df.drop_duplicates(inplace=True)

In [ ]:
# Convert SeniorCitizen to categorical

df["seniorcitizen"] = df["seniorcitizen"].replace({0: "No", 1: "Yes"})
df

,customerid,tenure,monthlycharges,totalcharges,contract,paymentmethod,paperlessbilling,seniorcitizen,churn
0,C00001,6,64,1540,One year,Credit Card,No,Yes,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,Yes,0
2,C00003,27,31,1455,Two year,Credit Card,No,Yes,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,Yes,0
4,C00005,16,185,1023,One year,Electronic Check,No,Yes,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,Yes,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,Yes,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,No,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,Yes,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,Yes,0

In [ ]:
df

,customerid,tenure,monthlycharges,totalcharges,contract,paymentmethod,paperlessbilling,seniorcitizen,churn
0,C00001,6,64,1540,One year,Credit Card,No,Yes,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,Yes,0
2,C00003,27,31,1455,Two year,Credit Card,No,Yes,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,Yes,0
4,C00005,16,185,1023,One year,Electronic Check,No,Yes,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,Yes,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,Yes,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,No,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,Yes,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,Yes,0

In [ ]:
# Save cleaned data

df.to_csv("cleaned_customer_churn.csv", index=False)

In [ ]:
df

,customerid,tenure,monthlycharges,totalcharges,contract,paymentmethod,paperlessbilling,seniorcitizen,churn
0,C00001,6,64,1540,One year,Credit Card,No,Yes,0
1,C00002,21,113,1753,Month-to-month,Electronic Check,Yes,Yes,0
2,C00003,27,31,1455,Two year,Credit Card,No,Yes,0
3,C00004,53,29,7150,Month-to-month,Electronic Check,No,Yes,0
4,C00005,16,185,1023,One year,Electronic Check,No,Yes,0
...,...,...,...,...,...,...,...,...,...
495,C00496,50,128,6970,Month-to-month,Credit Card,Yes,Yes,0
496,C00497,2,49,5917,Two year,Bank Transfer,No,Yes,0
497,C00498,46,198,2158,Month-to-month,Bank Transfer,No,No,0
498,C00499,1,185,5755,Two year,Credit Card,Yes,Yes,1
499,C00500,27,181,4292,Month-to-month,Bank Transfer,No,Yes,0